@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body {
    background-color: black;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    padding: 30px;
    text-align: right;
    font-size: 1.1rem;
    font-weight: bold;
}

header a {
    color: white;
    text-decoration: none;
    padding: 13px;
}

header a:hover {
    background-color: rgb(49, 49, 49);
    transition-duration: .4s;
}


header > #home {
    color: rgb(248, 144, 144);
}

section {
    background-image: url(../imagens/saudeFundo.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;

    padding: 20px;
    width: 60%;
    height: 60%;
    margin: auto;
    border-radius: 10px;
}

section h1 {
    color: #ffffff96;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.39);
    border-bottom: 2px solid black;
    padding: 10px;
}

section h2 {
    background-color: rgba(70, 15, 15, 0.295);
    color: #3e6bcec0;
    padding: 10px;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.39);
}

section p {
    color: black;
    background-color: rgba(255, 255, 255, 0.295);
    padding: 10px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}