@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body {
    background-color: black;
    background-image: url(../imagens/fundoCalis2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    padding: 30px;
    text-align: right;
    font-size: 1.1rem;
    font-weight: bold;
}

header a {
    color: white;
    text-decoration: none;
    padding: 13px;
}

header a:hover {
    background-color: black;
    transition-duration: .4s;
}

header > #login {
    color: black;
    background-color: rgb(236, 234, 234);
}

header > #login:hover {
    color: black;
    background-color: rgb(167, 165, 165);
    transition-duration: .4s;
    border-radius: none;
}

header > #home {
    color: rgb(248, 144, 144);
}

div {
    padding: 15px;
}

#search {
    padding: 7px;
    width: 200px;
    background-color: white;
    border: none;
    border-radius: 5px;
    border: 2px solid rgb(85, 50, 50);
}

label {
    background-color: white;
    border-radius: 50%;
    padding: 7px;
    color: white;
    cursor: pointer;
}

label:hover {
    background-color: rgb(179, 178, 178);
    transition-duration: 0.3s;
}

main {
    text-align: center;
    color: white;
    font-weight: bolder;
}

main h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.2rem;
    font-weight: bolder;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

main p {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.315);
}

main > #um {
    padding: 20px; 
    border-radius: 5px;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.315);
    background-color: rgb(228, 29, 29);
    text-decoration: none;
}

main > #um:hover {
    color: white;
    background-color: rgb(241, 66, 66);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.315);
    transition-duration: .4s;
}

main > #dois {
    color: white;
    border-radius: 5px;
    text-decoration: none;
    background-color: black;
    padding: 18px;
    border: 2px solid white;
}

main > #dois:hover {
    color: white;
    border-radius: 5px;
    background-color: rgb(43, 42, 42);
    border: 2px solid white;
    transition-duration: .4s;
}


